body {
    background: #f0f2f5;
}
.noPage {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo {
    width: 2.5rem;
}

.site-layout-background {
    background: #fff;
}
