.form {
   width: 100%;
   display: flex;
   align-items: center;
   position: absolute;
   left: 0;
   bottom: 0;

   &__input {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;

      border: none;
      background: none;
      outline: none;

      &[disabled] {
         cursor: default;
         opacity: 0.7;
      }

      display: block;
      width: 90%;
      height: 2.1875rem;
      margin: 0 0.9375rem;
      padding: 0 1.25rem;
      border: 2px solid #828282;
      border-radius: 10px;
      font-size: 1.2rem;
      &::placeholder {
         color: #828282;
      }

      &:focus {
         border: 2px solid #000;
      }
   }

   &__submit {
      margin: 1.25rem;
      height: 2.1875rem;
      background: #863686;
      color: #fff;
      border: none;
      border-radius: 2px;
      cursor: pointer;
      padding: 0 5px;
   }
}
