.message {
    &__wrap {
        display: flex;
        align-items: flex-end;

        & + & {
            margin-top: 0.75rem;
        }
    }
    &__message {
        padding: 5px 10px;
        background-color: #001529;
        border-radius: 10px;
        color: #fff;
        width: fit-content;
    }

    &__person {
        margin: 0;
    }
}
